<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <root>
            <level value="DEBUG" />
        </root>

        <!-- Database Driver logs -->
        <logger name="Snowflake.Data">
            <level value="ALL"/>
            <appender-ref ref="DriverConsoleAppender" />
            <appender-ref ref="DriverFileAppender" />
        </logger>

        <!-- Entity Framework Core logs -->
        <logger name="Microsoft.EntityFrameworkCore">
            <level value="ALL"/>
            <appender-ref ref="EFCoreConsoleAppender" />
            <appender-ref ref="EFCoreFileAppender" />
        </logger>

        <appender name="DriverFileAppender" type="log4net.Appender.RollingFileAppender">
            <file type="log4net.Util.PatternString" value="Snowflake.log" />
            <appendToFile value="true"/>
            <rollingStyle value="Size" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="true" />
            <maxSizeRollBackups value="10" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [Driver] [%thread] [%-5level] [%logger.%method:%line] - %message%newline" />
            </layout>
        </appender>

        <appender name="EFCoreFileAppender" type="log4net.Appender.RollingFileAppender">
            <file type="log4net.Util.PatternString" value="Snowflake.log" />
            <appendToFile value="true"/>
            <rollingStyle value="Size" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="true" />
            <maxSizeRollBackups value="10" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [EFCore] [%thread] [%-5level] [%logger.%method:%line] - %message%newline" />
            </layout>
        </appender>

    </log4net>

</configuration>