.idea/
.vs/
*.sln.iml

# User-specific files
*.suo
*.user
*.userprefs
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

EFCore.Tests/parameters.json
parameters*.json
