<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>

        <root>
            <level value="DEBUG" />
        </root>

        <!-- Database Driver logs -->
        <logger name="Snowflake.Data">
            <level value="INFO"/>
            <appender-ref ref="DriverConsoleAppender" />
        </logger>

        <!-- Entity Framework Core logs -->
        <logger name="Microsoft.EntityFrameworkCore">
            <level value="DEBUG"/>
            <appender-ref ref="EFCoreConsoleAppender" />
        </logger>

        <!-- Tests logs -->
        <logger name="EFCore.Tests">
            <level value="DEBUG"/>
            <appender-ref ref="TestsConsoleAppender" />
        </logger>

        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file type="log4net.Util.PatternString" value="test_%property{framework}.log" />
            <appendToFile value="true"/>
            <rollingStyle value="Size" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="true" />
            <maxSizeRollBackups value="10" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] [%-5level] [%logger.%method:%line] - %message%newline" />
            </layout>
        </appender>

        <appender name="DriverConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[Driver] %date [%-5level] [%logger.%method:%line] - %message%newline" />
            </layout>
        </appender>

        <appender name="EFCoreConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[EFCore] %date [%-5level] [%logger.%method:%line] - %message%newline" />
            </layout>
        </appender>

        <appender name="TestsConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[Tests ] %date [%-5level] [%logger{1}.%method:%line] - %message%newline" />
            </layout>
        </appender>
    </log4net>

</configuration>